body {
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  
  color: rgb(255, 196, 0);
  background-color: #2a2e39;
  
}

.upheder {
  width: 80%;
  height: 100px;
  background: #1e222d;
  margin: auto;
  border-radius: 10px;
  position: center;
  border: 3px solid #ffbf00;
  margin-bottom: 50px;
  display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 15px #ffbf00;
  
}

@media screen and (min-width: 700px) {
  .upheder {
    width: 350px;
    /* height: 50px; */
  }
}

.nameof_barbershop {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.header {
  width: 80%;
  height: 80px;
  background: #1e222d;
  margin: auto;
  border-radius: 10px;
  position: center;
  box-shadow: 0 0px 15px #ffbf00;
  margin-bottom: 20px;
  
  
}

@media screen and (min-width: 700px) {
  .header {
    width: 350px;
    height: 80px;
  }
}


.number {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.third_frame {
  width: 80%;
  height: 80px;
  background: #1e222d;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  box-shadow: 0 0px 15px #ffbf00;
}

@media screen and (min-width: 700px) {
  .third_frame {
    width: 350px;
    height: 80px;
  }
}

.mira13 {
  width: 80%;
  height: 50px;
  background: #1e222d;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  box-shadow: 0 0px 15px #ffbf00;
}

@media screen and (min-width: 700px) {
  .mira13 {
    width: 350px;
    height: 80px;
    
  }
}

.nameof_ulica {
  font-size: 30px;
  text-align: center;
  padding: 5px;
  color:#ffffff;
}

@media screen and (min-width: 700px) {
  .nameof_ulica {
    padding-top: 15px;
  }
}

.fifth_frame {
  width: 80%;
  height: 300px;
  background-image: url(TAPEER/Images/imgonline-com-ua-Resize-a0SqN5SoBnZJ5CoK.jpg);
  margin: auto;
  border-radius: 15px;
  margin-top: 20px;
  position: center;
  background-size: cover;
  border: 3px solid #ffbf00;
  box-shadow: 0 0px 15px #ffbf00;
  
}

@media screen and (min-width: 700px) {
  .fifth_frame {
    width: 340px;
    height: 340px;
  }
}


.marshrut {
  width: 80%;
  height: 50px;
  background: #1e222d;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  box-shadow: 0 0px 15px #ffbf00;
}

@media screen and (min-width: 700px) {
  .marshrut {
    width: 350px;
    height: 80px;
  }
}


.nameof_marshrut {
  font-size: 30px;
  padding: 5px;

  text-align: center;
}

@media screen and (min-width: 700px) {
  .nameof_marshrut {
    padding-top: 15px;
  }
}

.Nahi_mastera{
  width: 80%;
  height: 50px;
  background: black;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  border: 3px solid #ffbf00;
  box-shadow: 0 0px 15px #ffbf00;
  
}

@media screen and (min-width: 700px) {
  .Nahi_mastera {
    width: 350px;
    height: 80px;
  }
}

.mastera{
  font-size: 30px;
  margin: 5px;

  text-align: center;
}

@media screen and (min-width: 700px) {
  .mastera {
    padding-top: 15px;
  }
}

.Kterina{
  width: 80%;
  height: 300px;
  background-image: url(TAPEER/Images/imgonline-com-ua-Resize-p4w5OW226ylrzkTm.jpg);
  margin: auto;
  border-radius: 15px;
  margin-top: 20px;
  position: center;
  border: 3px solid #ffbf00;
  background-size: cover;
  box-shadow: 0 0px 15px #ffbf00;
}

@media screen and (min-width: 700px) {
  .Kterina {
    width: 340px;
    height: 340px;
    background-size: cover;
  }
}

.name_Katerina{
  width: 80%;
  height: 50px;
  background: black;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  border: 3px solid #ffbf00;
  box-shadow: 0 0px 15px #ffbf00;
  
}

@media screen and (min-width: 700px) {
  .name_Katerina {
    width: 350px;
    height: 50px;
  }
}

.name_under_Katerina{
  font-size: 30px;
  margin: 5px;
  text-align: center;
}


.Mic{
  width: 80%;
  height: 300px;
  background-image: url(TAPEER/Images/Resize_Mic.jpg);
  margin: auto;
  border-radius: 15px;
  margin-top: 20px;
  position: center;
  border: 3px solid #ffbf00;
  background-size: cover;
  box-shadow: 0 0px 15px #ffbf00;
}

@media screen and (min-width: 700px) {
  .Mic {
    width: 340px;
    height: 340px;
    background-size: cover;
  }
}
.name_Michael{
  width: 80%;
  height: 50px;
  background: black;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  position: center;
  border: 3px solid #ffbf00;
  box-shadow: 0 0px 15px #ffbf00;
}


.name_under_Mic{
  font-size: 30px;
  margin: 5px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .name_Michael {
    width: 350px;
    height: 50px;
  }
}







/* */

.glow-on-hover {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: rgb(255, 196, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 24px;
  font-family: inherit;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



@media (max-width: 767px) {
  .glow-on-hover:before {
    opacity: 1;
  }
}

.Text_down{
  font-size: 18px;
  padding: 35px;
  padding-top: 1px;
  text-shadow: 0 0 10px #ee00ff;
  position: center;
  text-align: justify;
}

@media screen and (min-width: 700px) {
  .Text_down {
    padding: 37%;
    font-size: 25px;
    padding-top: 10px;
    position: center;
    
  }
}


/* */